<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <img src="static/images/daenerys.jpeg" alt="image of daenerys" />
      <h1 id="meme-title">THAT SPECIAL MOMENT</h1>
      <p>When you find the perfect avocado at the supermarket</p>
    </div>
  </body>
</html>
