<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/main.css') }}">
    <!-- Include more CSS files or meta tags here -->
</head>
<body class="dark:bg-zinc-950 dark:text-zinc-100 bg-zinc-50 text-zinc-950">
    {% include 'header.html' %}

    {% include 'hero.html' %}

    <main class="container mx-auto">
        {% block content %}
        <!-- Content specific to each page will be injected here -->
        {% endblock %}
    </main>

    {% include 'contact.html' %}

    {% include 'footer.html' %}

    <!-- Inject JavaScript files here -->
    <script src="{{ url_for('static', filename='dist/bundle.js') }}" type="module" defer></script>
    <!-- <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js" type="module" defer></script> -->
    
</body>
</html>
