<section id="project-section" class="relative w-full h-screen flex justify-center items-center" data-aos="fade-up" data-aos-duration="1000">
    <!-- Vertical text container -->
    <div id="vertical-text" class="absolute bottom-20 -left-3 transform translate-x-0 translate-y-1/2 -rotate-90 text-xl whitespace-nowrap">
        Vertical Text
    </div>
    <!-- Content container -->
    <div id="project-section-inside" class="p-2 border border-solid border-zinc-600 w-11/12 h-full flex justify-between">
        <div class="space-mono-regular text-2xl">Projects</div>
        <div>
            <ul class="space-mono-regular text-3xl flex flex-col gap-4 text-right">
                <li><a href="https://github.com/realsarius/blog-project" target="_blank">Blog project</a></li>
                <li><a href="https://github.com/realsarius/odin-cv-application" target="_blank">Orbit's Synthwave</a></li>
                <li><a href="https://github.com/realsarius/orbit-synthwave" target="_blank">Resume Builder</a></li>
            </ul>
        </div>
    </div>
</section>
